@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a;
    color: white;
    background-image: radial-gradient(#333333 1px, transparent 1px);
    background-size: 20px 20px;
}